img{
    width:200px;
    height:200px; 
    
}
button{
       background: #C6D931;
}
#Address{
    position:absolute;
    left:290px;
}
#cars{
    position:absolute;
    top:-200px;
    left:200px;
}
#handshake{
    position:absolute;
    top:30px;
    left:;
    
}
#aldair{
    
}
#u.s.a{
    
}






